@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.container {
    gap: .8rem;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 30%;
    height: auto;
}