@charset "UTF-8";

* {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
}

footer {
    margin-top: auto;
    background-color: gray;
    color: white;
    padding: 10px;
    flex: 1;
    text-align: center;
}