@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
    --background: #292738;
    --background_box: #363447;
    --text-color: #FFFFFF;
    --text-color-2: #81FBB8;
    --vendas: #CE9FFC;
    --vendas2: #7367F0;
    --meta: #DF9780;
    --meta2: #A66DE9;
    --dias_graph: #90F7EC;
    --dias_graph2: #32CCBC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    padding-top: 120px;
}

section {
    width: 1120px;
    margin: auto;
}

#infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


.container {
    border-radius: 10px;
    background-color: var(--background_box);
    color: var(--text-color);
    box-shadow: 3px 4px 19px #00000052;
    text-align: center;
    padding: 40px;
}

#nps {
    width: 296px;
    height: 379px;
}

#vendas {
    width: 351px;
    height: 379px;
}

#meta {
    width: 409px;
    height: 379px;
}

#semana {
    width: 1120px;
    height: 314px;
}

h1 {
    font-weight: 500;
    margin-bottom: 70px;
}

h2 {
    font-weight: 500;
    margin: 20px 0 70px 0;
}

svg {
    width: 210px;
    height: 210px;
}

circle {
    fill: none;
    stroke: var(--vendas2);
    stroke-width: 24;
    stroke-dasharray: 502;
    stroke-dashoffset: 150.6;
    rotate: 270deg;
    translate: 13px 185px;
}

span span {
    position: absolute;
    margin: 63px 0 0 70px;
}

span > span > p:first-child {
    font-size: 2em;
    font-weight: 500;
}

#vendas > span > span {
    margin-top: -50px;
}